{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <div class="ph3 ph4-m ph6-l w-100 w-60-m w-50-l center pb4" id="login_box">
    <div class="f4 pv3 ph3 tc gray bb b--black-20 mb3">Login Required</div>
    <div class="f5 tc mb3 gray">You must login to view the contents of this page.</div>
    <label class="db f6 ttu mb1 gray">Username</label>
    <input type="text" class="db input-reset bn bg-near-white pa3 br2 w-100 mb3" id="username">
    <label class="db f6 ttu mb1 gray">Password</label>
    <input type="password" class="db input-reset bn bg-near-white pa3 br2 w-100 mb3" id="password">
    <button class="bn bg-green hover-bg-dark-green pa3 br2 white dib mb3 center" onclick="login()">Submit</button>
    <div class="red f6 ttu mb2 dn" id="error_text">Please enter both username and password and try again</div>
  </div>
  <div class="ph3 ph4-m ph6-l dn" id="main_content">
      <main class="flex items-stretch items-start flex-wrap pb1">
        <div class="w-100 mb3 tc">
          <a href="{{ (trim .Params.profile_file "/" ) | absURL }}" class="link bg-animate center ph4 pv3 bg-green hover-bg-dark-green white f3 ttu tracked br2">Download Profile</a>
        </div>
        <h2 class="w-100 f1 tc black">Our Clients</h2>
        <div class="content w-100 mb3">
          {{ .Content }}
        </div>
        {{ range .Params.clients }}
        <div class="ph3 w-100 w-third-m w-25-l mb5 tc">
          <img src="{{ ( trim .image "/" ) | absURL}}">
          <div class="pv3 ph3 f4 b green ttu tracked tc">{{.name}}</div>
        </div>
        {{ end }} 
      </main>
  </div>
  <script>
    var login = function() { 
      et = document.getElementById("error_text");
      et.classList.add("dn")
      username = document.getElementById("username").value
      password = document.getElementById("password").value
      if(!username || !password) {
        et.innerHTML = "Please enter both username and password and try again";
        et.classList.remove("dn")
      }else{
        if (username == "{{ .Params.username }}" && password == "{{ .Params.password }}") {
          document.getElementById("login_box").classList.add("dn");
          document.getElementById("main_content").classList.remove("dn");
        }else{
          et.innerHTML = "Invalid username or password";
          et.classList.remove("dn")
        }
      }
    }
  </script>
{{ partial "footer.html" . }}
