{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
  <div class="ph3 ph4-m ph6-l">
      <main class="flex items-stretch items-start flex-wrap flex-nowrap-m pb1">
        <div class="content w-100 mb3">
          {{ .Content }}
        </div>
        {{ range .Params.industries }}
        <div class="ph3 w-100 w-50-m w-third-l mb5">
          <div class="aspect-ratio aspect-ratio--16x9 br2 br--top w-100 overflow-hidden z-1">
            <div class="aspect-ratio--object cover bg-center" style="background-image: url('{{ ( trim .image "/" ) | absURL}}')"></div>
          </div>
          <div class="bg-near-white pv4 br2 br--bottom ph3 f4 b green ttu tracked-mega">{{.name}}</div>
        </div>
        {{ end }} 
      </main>
  </div>

{{ partial "footer.html" . }}
