{{ partial "header.html" . }}
{{ partial "page_title.html" . }}
<script src="{{ "js/siema.min.js" | absURL }}"></script>
  <div class="ph3 ph4-m ph5-l">
      <main class="pb1">
        <div class="content w-100 mb5">
          {{ .Content }}
        </div>
        <script src="{{ "js/siema.min.js" | absURL }}"></script>
        <section id="slider" class="siema w-100 w-80-ns center mb6">
          {{ range .Params.industries }}
            <div>
            <div class="aspect-ratio aspect-ratio--16x9">
              <div class="aspect-ratio--object z-1 bg-center cover" style="background-image: url(' {{ (trim .image "/") | absURL }}')"></div>
            </div>
            <div class="bg-light-green pv3 br2 br--bottom ph3 f5 b dark-green tc ttu tracked-mega">{{.name}}</div>
          </div>
          {{ end }} 
        </section>
      </main>
  </div>
<script>
  if(siema_interval){
    clearInterval(siema_interval)
  }
  var mySiema=new Siema({duration:250,loop:true,});
  var siema_interval = setInterval(()=>mySiema.next(),3500)
</script>
{{ partial "footer.html" . }}
